nav.bg-primary {
    background-color: #d51007!important;
    margin-bottom: 2em;
}

.logo {
    width: 6em;
    padding: .3em 0;
}

.btn-danger {
    background-color: #d51007;
}

.btn-danger:hover {
    background-color: rgba(213, 16, 7, .5);
}

.input-profile {
    margin-bottom: 1.6em;
}

.card {
    width: 30%;
    margin-bottom: 2em;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
}

.artist-rank {
    margin-right: .2em;
}

#erro-insuficiente {
    display: none;
    margin: 0 auto;
}

/*#social {
    display: none;
}*/

svg {
    display: inline;
    vertical-align: top;
    
    width: 1.25em;
    margin-right: .2em;
    background: #721c24;
    border-radius: 50%;
}

.close-x {
  stroke: #f8d7da;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 5;
}


@media screen and (max-width: 768px) {
    
    .card {
        width: initial;
    }
    
}