nav.bg-primary {
    background-color: #d51007!important;
    margin-bottom: 2em;
}

.logo {
    width: 6em;
    padding: .3em 0;
}

.btn-danger {
    background-color: #d51007;
}

.btn-danger:hover {
    background-color: rgba(213, 16, 7, .5);
}

.input-profile {
    margin-bottom: 3em;
}

.card {
    width: 30%;
    margin-bottom: 2em;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
}

.artist-rank {
    margin-right: .2em;
}


@media screen and (max-width: 768px) {
    
    .card {
        width: initial;
    }
    
}